<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="main/public.html :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public.html :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public.html :: #public_time">
</section>

<!--主体内容-->
    <section class="publicMian ">
        <div class="left" th:replace="main/public.html :: #public_left(activeUrl='passwd')">
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>密码修改页面</span>
            </div>
            <div class="providerAdd">
                <form id="pwdForm" action="#"  method="post">
                    <div class="">
                        <label for="oldPassword">旧密码：</label>
                        <input type="password"  id="oldPassword" autofocus="autofocus" required name="oldpassword" onblur="checkOldPwd()"/>
                        <span id="pwdText">*请输入原密码</span>
                    </div>
                    <div>
                        <label for="newPassword">新密码：</label>
                        <input type="password"  id="newPassword" required onblur="checkNewPwd()"/>
                        <span id="newPwdText">*请输入新密码</span>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password"  name="password" id="reNewPassword" required onblur="checkReNewPwd()"/>
                        <span id="reNewPwdText" >*请输入新确认密码，保证和新密码一致</span>
                    </div>
                    <div class="providerAddBtn" onclick="save()">
                        <!--<a href="#">保存</a>-->
                        <input type="button" value="保存" id="save"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
<footer class="footer" th:replace="main/public.html :: #public_footer">
</footer>

<script src="../js/jquery.js"></script>
<script src="../js/js.js"></script>
<script src="../js/time.js"></script>
<script type="text/javascript" th:inline="javascript">
    var checkFlag = false;
    function checkOldPwd() {
        var oldpwd = $("#oldPassword").val().trim();
        if(!oldpwd){
            $("#pwdText").css("color","red");
            checkFlag = false;
            return;
        }

        var url = "oldpassword" + '?oldPassword=' + oldpwd;
        $.ajax({
            url: url,
            dataType:'json',
            method: 'Get',
            success: function (data) {
                if (data){
                    $("#pwdText").css("color","#faca0d");
                    $("#pwdText").text("原密码正确");
                    checkFlag = data;
                }else {
                    checkFlag = false;
                    $("#pwdText").css("color","red");
                    $("#pwdText").text("原密码错误");
                }
            },
            error: function () {
                $("#pwdText").css("color","red");
                $("#pwdText").text("原密码校验异常");
            }
        })
    }

    function checkNewPwd() {
        var newpwd = $("#newPassword").val().trim();
        if(!newpwd){
            $("#newPwdText").css("color","red");
        }else {
            $("#newPwdText").text("");
        }
    }

    function checkReNewPwd() {
        var newpwd = $("#newPassword").val().trim();
        var renewpwd = $("#reNewPassword").val().trim();
        if(!renewpwd){
            $("#reNewPwdText").css("color","red");
            $("#reNewPwdText").text("请输入确认密码！");
            checkFlag = false;
            return;
        }
        if (newpwd != renewpwd){
            $("#reNewPwdText").css("color","red");
            checkFlag = false;
            return;
        }
        $("#reNewPwdText").text("");
        checkFlag = true;
    }

    //保存
    function save() {
        debugger;
        var renewpwd = $("#reNewPassword").val().trim();
        if (!checkFlag) {
            return;
        }
        var url = "/password";
        $.ajax({
            url: url,
            dataType: 'json',
            data: {password: renewpwd},
            method: 'POST',
            success: function (data) {
                debugger;
                window.location.href = 'http://localhost:8081/loginout';
            },
            error: function () {
                
            }
        });
    }
</script>
</body>
</html>